---
export interface Props {
    h2?: string
    h3_num?: string
    h2_2?: string
    h2_3?: string
    h3?: string
    h3_date?: string
}

const {
    h2 = 'days',
    h3_num = '00',
    h2_2 = 'hours',
    h2_3 = 'minutes',
    h3 = 'Countdown to:',
    h3_date = 'January 31, 2024',
} = Astro.props
---

<div
    id="bgColor"
    class="w-[85%] md:w-3/4 2xl:w-1/2 h-auto bg-my-yellow/75 text-white relative z-20 mx-auto py-12"
>
    <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-0 relative mx-auto"
    >
        <div
            id="div_1"
            class="relative w-1/2 divs lg:w-11/12 h-auto mx-auto p-8 bg-my-purple/50"
        >
            <h2 class="text-center text-3xl uppercase">{h2}</h2>
            <h3 id="days" class="text-center text-7xl">{h3_num}</h3>
        </div>
        <div
            id="div_2"
            class="relative w-1/2 divs lg:w-11/12 h-auto mx-auto p-8 bg-my-purple/50"
        >
            <h2 class="text-center text-3xl uppercase">{h2_2}</h2>
            <h3 id="hours" class="text-center text-7xl">{h3_num}</h3>
        </div>
        <div
            id="div_3"
            class="relative w-1/2 divs lg:w-11/12 h-auto mx-auto p-8 bg-my-purple/50"
        >
            <h2 class="text-center text-3xl uppercase">{h2_3}</h2>
            <h3 id="minutes" class="text-center text-7xl">{h3_num}</h3>
        </div>
    </div>
    <div class="relative z-20 mx-auto py-12 w-10/12">
        <hr
            id="seperator"
            class="opacity-25 shadow-inset border-[2px] border-my-purple rounded-full"
        />
    </div>
    <div class="relative z-20 mx-auto">
        <h3
            id="h3"
            class="text-center text-my-purple/50 font-semibold text-3xl"
        >
            {h3}
        </h3>
        <h3
            id="departDate"
            class="text-center text-my-purple/50 font-semibold text-3xl"
        >
            {h3_date}
        </h3>
    </div>
</div>
